<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
        molestiae, mollitia dignissimos dicta molestias rerum saepe, quis
        placeat itaque excepturi amet similique aliquam nostrum quod debitis
        laudantium facilis fuga asperiores?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis,
        veniam ratione veritatis id quisquam quia laboriosam ipsa, sequi
        sapiente delectus provident enim ad exercitationem eligendi!
        Reprehenderit repellendus dolores cupiditate vel!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus
        praesentium sapiente, in, sint, adipisci nihil doloribus hic molestiae
        exercitationem nobis animi ad. Quod accusantium, explicabo libero rem
        dolor eveniet aliquid?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
